@font-face {
    font-family: "Lato";
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf);
}

* {
    
    font-family: "Lato", sans-serif;
    font-size: 14px;

}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}
h1 {
   font-size: 4rem; 
}
h2{
    font-size: 2.2rem;
}
p{
    max-width: 70ch;
    line-height: 1.5;
    font-size: 1.2rem;
    
}
header {
    height: 55vh;
    max-width: 100%;
    background-image: url(assets/img/studentsbg.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 6rem;
    position: relative;

}
img {
    width: 100%;
}

header div, footer * {
    background-color: #c5192d;
    color: white;
}

header > div {
    position: relative;
    top: 6rem;
    
}
footer p {
    padding: 2rem;
}
header h1{
padding: 2rem 2rem 0 2rem;
}
header p{
    padding: 0 2rem 2rem 2rem;
    }
header > div, main, footer {
    margin-left: auto;
    margin-right: auto;
}
main {
    box-shadow: 0px 0px 1px 0px darkgrey;
    background-color: whitesmoke;   
    max-width: 95%;
    
}

/* LINEAR GRADIENT BAKGRUNNSFARGE */
body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
footer p {
    max-width: 95vw;
    text-align: center;
}

p {
    max-width: inherit;
    
}

#intro-container {
    padding: 2rem;
    background-color:#c5192d ;
    
}
/*   EMOJI    */
#intro-container li{
    list-style-type: none;
    padding-left: 5%;
}
#intro-container li:nth-of-type(1)::before{
    content: "\1F64C";
}
#intro-container li:nth-of-type(2)::before{
    content: "\1F3EB";
}
#intro-container li:nth-of-type(3)::before{
    content: "\1F4DA";
}

/* SNU BILDET OG TEKST  */
article:nth-of-type(3) {
    transform: scaleY(-1);
    display: inline-block;
}
article:nth-of-type(3) > div {
    transform: scaleY(-1);
    float: right;
}
article:nth-of-type(3) img {
    transform: scaleY(-1);
    display: inline-block;
}

/* BORDER BOTTOM, LINJE MELLOM AVSNITTENE */
article:nth-of-type(3) {
    border-bottom:0.1px solid darkgrey ;
    margin-top: 2rem;
}


/* ------    TABLET      --------  
   ------------------------------
   ------------------------------  */

@media (min-width: 600px) and (max-width: 960px){
* {
    font-size: 16px;
}
body {
    position: center;
}
header {
    height: 65vh;
}
header div, main, footer {
    max-width: 85%;
}

article > * {
    display: inline-block;
    width: 45%;
    font-size: 0;
}
article p {
    width: 100%;
    vertical-align: center;
    
}

#intro-container {
    padding: 2rem;
    background: linear-gradient(90deg, #c5192d 50%, whitesmoke 50%);
    
}

/* First child*/
article:nth-child(1){
    border-bottom: 0.1px solid darkgrey;
    

}
/* second child*/
article:nth-of-type(2) > img {
    float: right;
    }

/* Third child*/
article:nth-of-type(3) {
        border-bottom:0.1px solid darkgrey ;
        margin-top: 2rem;
    }
 article:nth-of-type(3) > img {
        margin-top: 10%;
        margin-bottom: 10%;
    }
/* Fourth child*/
article:nth-child(4){
    border-top: 0.1px solid darkgrey;
    padding-bottom: 2rem;
}
article:nth-of-type(4) > img {
    float:right;
    
}
main article {
    padding: 2rem;
    }
    
}

@media (min-width: 960px){
    * {
        font-size: 24px;
    }
    header {
        height: 65vh;
    }
    header > div, main, footer {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    header > div {
        height: 70vh;
    }
    
   h1 {
       margin: 0;
   }
    article > * {
        display: inline-block;
        width: 45%;
        font-size: 0;
    }
    article p {
        width: 100%;
        vertical-align: center;
    }
    

    #intro-container {
        padding: 2rem;
        background: linear-gradient(90deg, #c5192d 50%, whitesmoke 50%);
        margin-top: 10rem;
    }
    

    /* First child*/
article:nth-child(1){
    border-bottom: 0.1px solid darkgrey;
    

}
/* second child*/
article:nth-of-type(2) > img {
    float: right;
    
    }

/* Third child*/
article:nth-of-type(3) {
        border-bottom:0.1px solid darkgrey ;
    }

 article:nth-of-type(3) > img {
        margin-top: 50%;
    }
 article:nth-of-type(3) > div {
        margin-top: 30%;
    }

/* Fourth child*/
article:nth-child(4){
    border-top: 0.1px solid darkgrey;
    padding-bottom: 6rem;
}
article:nth-of-type(4) > img {
    float:right;
    margin-top: 5%;

    
}

article {
padding-left: 2rem;
padding-right: 2rem; 
}

}  



